{% extends "base.html" %}

{% block title %}{{ head_title }}{% endblock %}
{% block content %}
    <main>
        {% if posts %}
            <ul class="posts">
            {% for post in posts %}
                {% include 'post.html' with { 'post': post } %}
            {% endfor %}
            </ul>
            {{ pagination( query ) }}
        {% else %}
            {% include 'nopost.html' %}
        {% endif %}
    </main>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% include 'footer.html' with { 'title': head_title } %}
{% endblock %}
