<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name = "keywords" content="" />
            <meta name ="description" content="" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
        {{ wp_head() }}
    </head>
    <body>
        <h1>{{ h1_title }}<h1>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <div>フッターエリア</div>
        {% endblock %}
        {{ wp_footer() }}
    </body>
</html>
