<div class="fnsk_contactform_section">
<p>※IDは半角英数でユニークな値にしてください</p>
<ul>
    <li class="form-part" data-type="text">
        <p>テキスト</p>
        <div class="form-part-inputs">
            <input type="hidden" name="" value="text" />
            <label>必須 <input type="checkbox" name="" value="1" checked="checked"/></label>
        </div>
    </li>
    <li class="form-part" data-type="textarea">
        <p>テキストエリア</p>
        <div class="form-part-inputs">
            <input type="hidden" name="" value="textarea" />
        </div>
    </li>
    <li class="form-part" data-type="email">メール</li>
    <li class="form-part" data-type="tel">電話番号</li>
    <li class="form-part" data-type="select">セレクトボックス</li>
    <li class="form-part" data-type="radio">ラジオボックス</li>
</ul>
</div>
